<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bly Book Application</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

    <!----------------- Header ------------------------->

    <header class="header">

        <div class="topbar flex-row">

            <div class="logo">
                <img src="./images/logo.svg" alt="Logo">
            </div>

            <div class="controls flex-row">
                <div class="control-item">
                    <a href="#">
                        <img src="./images/user-dark.svg" alt="control-icon">
                        <span>Inscription</span>
                    </a>
                </div>
                <div class="control-item">
                    <a href="#">
                        <img src="./images/user-dark.svg" alt="control-icon">
                        <span>Connexion</span>
                    </a>
                </div>
            </div>

            <div class="searchbar">
                <input type="text" placeholder="Rechercher...">
                <div class="search-icon">
                    <img src="./images/search-icon.svg" alt="Search-icon">
                </div>
            </div>

        </div>

        <nav class="nav">
            <div class="nav-inner flex-row">
                <div class="nav-item">
                    <a href="#">
                        <img src="./images/book-nav-menu.svg" alt="Book">
                        <span>Livres</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="#">
                        <img src="./images/book-nav-menu.svg" alt="Book">
                        <span>Contact</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="#">
                        <img src="./images/book-nav-menu.svg" alt="Book">
                        <span>A propos</span>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <!-------X--------- Header -------------X----------->


</body>

</html>