/*-------Theme Colors --------------*/

$orange: #EE6C4D;
$blue: #3D5A80;
$sky: #E0FBFC;
$light-blue: #98C1D9;
$dark-blue: #293241;
$gray: #858585;
$ligth-gray: #D8D8D8;
$green: #4DFF53;
$red: #FF0000;
$white: #FFF;
$black: #000;

/*-------Theme Colors --------------*/



/*------------Theme Fonts -----------------*/

$Anton: Antone, cursive;
$Josefin: Josefin, cursive;
$PTSans: PTSans, cursive;
$Ranchers: Ranchers, cursive;


/*--------X---Theme Fonts ---------X-------*/