/*-------Header----------*/

.header {
    width: 100%;
    height: 65px;
    font-family: $PTSans;

    /*----X---Topbar-----------*/

    .topbar {
        width: 100%;
        height: 50px;
        background-color: $blue;
        padding: 0 2rem;
        padding-left: calc(15% + 2rem);

        /*-----Logo------*/

        .logo {
            background-color: transparent;
            position: absolute;
            top: 0;
            left: 0;
            min-width: 80px;
            min-height: 80px;
            width: 15%;
            width: 15%;

            img {
                width: 100%;
                height: auto;
                margin-top: -18.75%;
                margin-left: -17.5%;
            }
        }

        /*--X--Logo---X--*/



        /*----- Controls ------*/

        .controls {
            background-color: transparent;
            align-items: center;
            padding: 0 1rem;
            font-size: 12px;

            .control-item {
                margin: 8px;
                padding-bottom: 8px;
            }
        }

        /*--X-- Controls --X---*/

        .searchbar {
            position: absolute;
            right: 2rem;
            background-color: transparent;
            height: 50px;
            width: 30%;
            min-width: 300px;

            input {
                width: 99%;
                height: 80%;
                font-size: 15px;
                border: none;
                background-color: transparent;
                color: $white;
                outline: none;
                border-bottom: 1px solid $orange;
                padding-top: 1rem;
            }

            .search-icon {
                background-color: $blue;
                position: absolute;
                right: 0;
                top: 0;
                height: 2rem;
                padding: 8px;
                padding-bottom: 0;
                margin-top: .6rem;

                img {
                    width: auto;
                    height: 100%;
                }
            }
        }

    }

    /*----X---Topbar-----------*/
}



/*-----------Nav--------------*/

.nav {
    background-color: $light-blue;
    display: flex;
    justify-content: flex-end;
    padding: 0 5rem;
    height: 15px;

    .nav-inner {
        background-color: #000;
        width: 400px;
        justify-content: space-between;

    }
}

/*------x----Nav------x-------*/





/*---X---Header----X-----*/
